<script lang="ts" setup>
import { ref } from "vue";
import { faker } from "@faker-js/faker";

const locale = ref("pl");
setLocale();

const formData = ref({
  firstName: "",
  lastName: "",
  email: "",
  vin: "",
  streetAddress: "",
  zipCode: "",
  city: "",
});

function getMockData() {
  formData.value.firstName = faker.name.firstName();
  formData.value.lastName = faker.name.lastName();
  formData.value.email = faker.internet.email();
  formData.value.vin = faker.vehicle.vin();
  formData.value.streetAddress = faker.address.streetAddress();
  formData.value.zipCode = faker.address.zipCode("##-###");
  formData.value.city = faker.address.city();
}
function setLocale() {
  faker.setLocale(locale.value);
}
</script>

<template>
  <div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-xl font-large leading-6 text-gray-900">
            Informacje homologacyjne {{ locale }}
          </h3>
          <p class="mt-1 text-md text-gray-600">
            Formularz zamawiania dokumentów
          </p>
        </div>
        <div class="px-4 py-3 text-right sm:px-6">
          <span class="px-4 py-3 text-left sm:px-6">Wstaw sztuczne dane:</span>
          <button
            @click="getMockData"
            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-md font-medium rounded-md text-white bg-sky-600 hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
          >
            Wypełnij
          </button>
        </div>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <form action="#" method="POST" @submit.prevent="">
          <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
              <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="first-name"
                    class="block text-md font-medium text-gray-700"
                    >First name</label
                  >
                  <input
                    type="text"
                    name="first-name"
                    id="first-name"
                    v-model="formData.firstName"
                    autocomplete="given-name"
                    class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-md border-gray-300 rounded-md"
                  />
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="last-name"
                    class="block text-md font-medium text-gray-700"
                    >Last name</label
                  >
                  <input
                    type="text"
                    name="last-name"
                    id="last-name"
                    v-model="formData.lastName"
                    autocomplete="family-name"
                    class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-md border-gray-300 rounded-md"
                  />
                </div>

                <div class="col-span-6 sm:col-span-4">
                  <label
                    for="email-address"
                    class="block text-md font-medium text-gray-700"
                    >Email address</label
                  >
                  <input
                    type="text"
                    name="email-address"
                    id="email-address"
                    v-model="formData.email"
                    autocomplete="email"
                    class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-md border-gray-300 rounded-md"
                  />
                </div>

                <div class="col-span-6">
                  <label
                    for="vehicle-vin"
                    class="block text-md font-medium text-gray-700"
                    >VIN</label
                  >
                  <input
                    type="text"
                    name="vehicle-vin"
                    id="vehicle-vin"
                    v-model="formData.vin"
                    autocomplete="vehicle-vin"
                    class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-md border-gray-300 rounded-md"
                  />
                </div>

                <div class="col-span-6">
                  <label
                    for="street-address"
                    class="block text-md font-medium text-gray-700"
                    >Street address</label
                  >
                  <input
                    type="text"
                    name="street-address"
                    id="street-address"
                    v-model="formData.streetAddress"
                    autocomplete="street-address"
                    class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-md border-gray-300 rounded-md"
                  />
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label
                    for="postal-code"
                    class="block text-md font-medium text-gray-700"
                    >ZIP / Postal code</label
                  >
                  <input
                    type="text"
                    name="postal-code"
                    id="postal-code"
                    v-model="formData.zipCode"
                    autocomplete="postal-code"
                    class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-md border-gray-300 rounded-md"
                  />
                </div>

                <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                  <label
                    for="city"
                    class="block text-md font-medium text-gray-700"
                    >City</label
                  >
                  <input
                    type="text"
                    name="city"
                    id="city"
                    v-model="formData.city"
                    autocomplete="address-level2"
                    class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-md border-gray-300 rounded-md"
                  />
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="country"
                    class="block text-md font-medium text-gray-700"
                    >Country</label
                  >
                  <select
                    @change="setLocale"
                    id="country"
                    name="country"
                    v-model="locale"
                    autocomplete="country-name"
                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-md"
                  >
                    <option value="pl">Poland</option>
                    <option value="de">Germany</option>
                    <option value="en">United States</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
              <button
                type="submit"
                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-md font-medium rounded-md text-white bg-sky-600 hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
              >
                Zamów
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
