<template>
  <h1 class="mt-24 text-center text-2xl">Zaloguj się do aplikacji jako:</h1>
  <nav class="m-12 grid grid-cols-3">
    <RouterLink class="login-btn menu-link" to="/client">
      <h2 class="m-auto">Client</h2>
    </RouterLink>
    <RouterLink class="login-btn menu-link" to="/dealer"
      ><h2 class="m-auto">Dealer</h2></RouterLink
    >
    <RouterLink class="login-btn menu-link" to="/importer"
      ><h2 class="m-auto">Importer</h2></RouterLink
    >
  </nav>
</template>

<style lang="postcss" scoped>
.login-btn {
  @apply m-12 border text-4xl flex h-[calc(100vh/2)] bg-white rounded-xl shadow hover:shadow-md hover:bg-gradient-to-t from-orange-50;
}
</style>
