<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
</script>

<template>
  <nav class="text-right">
    <RouterLink class="menu-link" to="/">Home</RouterLink>
    <RouterLink class="menu-link" to="/about">About</RouterLink>
    <a
      class="menu-link"
      href="http://www.jackfiszr.eu"
      target="_blank"
      to="/author"
      >Author</a
    >
  </nav>

  <RouterView />
</template>

<style lang="postcss" scoped>
.router-link-exact-active {
  @apply underline decoration-4 decoration-orange-600;
}
</style>
