@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply m-1;
  }
  body {
    @apply bg-gradient-to-b from-sky-50 h-screen font-semibold text-sky-900;
  }
  .menu-link {
    @apply p-1 hover:underline hover:decoration-4 hover:decoration-orange-400;
  }
}
